<nav data-testid="header" class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end gap-2">
                <fa-icon class="pl-3 text-3xl" [icon]="iconService.icons.Logo" />
                <span
                    class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Advenus</span>
            </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img [src]="user.picture" alt="Profile Picture"
                            class="w-24 h-24 rounded-full border-4 border-primary">
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                            role="menuitem" routerLink="profile">Profile</a>
                    </li>
                    <li>
                        <a (click)="logout()"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                            role="menuitem">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<aside id="logo-sidebar" data-testid="sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a routerLink="dashboard"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <fa-icon [icon]="iconService.adminIcons.Dashboard" class="text-success" />
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/destinations"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <fa-icon [icon]="iconService.adminIcons.Destination" class="text-success" />
                    <span class="flex-1 ms-3 whitespace-nowrap">Destinations</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/cities"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <fa-icon [icon]="iconService.adminIcons.City" class="text-success" />
                    <span class="flex-1 ms-3 whitespace-nowrap">Cities</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class="p-4 sm:ml-64 mt-16">
    <router-outlet></router-outlet>
</div>