<div class="flex flex-col  gap-10 min-h-[70vh]">
    <div class="relative h-64 w-full">
        <div class="absolute inset-0">
            <img ngSrc="images/landmarks.jpg" fill class="object-cover object-center" />
        </div>
        <div class="absolute inset-0 bg-black bg-opacity-45"></div>
        <div class="absolute inset-0">
            <div class=" flex h-full items-end justify-center">
                <span class="text-white mb-10 px-10 uppercase font-Oswald 
                font-bold text-6xl">Destination</span>
            </div>
        </div>
    </div>
    <div class="w-5/6 md:w-4/5  xl:w-2/3 flex flex-col m-auto">
        <span class="text-xl md:text-3xl ">Top - World</span>
        <div class="w-full">
            These destinations are our top spots for good reason—they’ve got everything travelers are looking for and
            more.
            <br />
            The Travelers’ Choice Awards Best of the Best title celebrates the highest level of excellence in travel.
            It’s awarded to those who receive a high volume of above-and-beyond reviews and opinions from the
            Tripadvisor community over a 12-month period. Out of our 8 million listings, fewer than 1% achieve this
            milestone.
            <div class="divider text-accent"></div>
        </div>
        <div>
            @if(loading()===true) {
            <div class="w-full min-h-[70vh] flex justify-center items-baseline">
                <div class="loading loading-bars loading-md m-auto text-accent"></div>
            </div>
            }
            @if(cities.length>0){
            @for (city of cities; track city) {
            <div [ngClass]="{'flex-row-reverse' :$index%2===0}" class="flex h-96">
                <div class=" relative w-1/2 ">
                    <img [ngSrc]="'/upload/images/'+city.landmarks[0].image_url" [alt]="city.landmarks[0].name" fill class="object-fill" />
                </div>
                <div class="w-1/2 flex flex-col p-5 gap-2">
                    <span class="text-3xl text-orange-500 font-bold">{{$index+1}}.</span>
                    <span class="font-Oswald text-4xl">{{city.name}}</span>
                    <span class="font-Handlee text-l"><fa-icon [icon]="icon.icons.Location" /> {{city.country}}</span>
                    <span>{{city.description}}The birthplace of both the king of the Olympian gods and of modern
                        European civilization, Crete is a Mediterranean jewel. It’s rich with archaeological and
                        rbor or the fortresses and monasteries of
                        Rethymonon. The awesome Minoan ruins of Malia date to 1900 BC, and majestic Mt. Ida is said to
                        be home to the cave where Zeus was born.</span>
                    <div>
                        @for(landmark of city.landmarks;track landmark){
                        @for(category of landmark.categories;track category){

                        <button>{{category.iconName}}</button>
                        }
                        }
                    </div>
                    <div class="divider text-secondary w-full"></div>
                    <button class="btn btn-accent w-2/5"
                        [routerLink]="'/destinations/'+ city.country.toLowerCase() +'/' + city.name.toLowerCase()">View
                        Details</button>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>