@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@font-face {
    font-family: 'Handlee';
    src: url('assets/fonts/Handlee-Regular.ttf');
  }
@font-face {
    font-family: 'Oswald';
    src: url('assets/fonts/Oswald-Regular.ttf');
  }